# based on this astral / uv example: https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi

name: Publish

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/xcorduroy
    permissions:
      id-token: write
      contents: read
      attestations: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      
      - name: Install Python
        run: uv python install 3.13
      
      - name: Build
        run: uv build --no-sources
      
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: 'dist/*'
      
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl -- python -c "import corduroy; print(corduroy.__version__)"
      
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with dist/*.tar.gz -- python -c "import corduroy; print(corduroy.__version__)"
      
      - name: Publish
        run: uv publish